<md-card ng-controller="memberController">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">The information about the member</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row" layout-align="center center" ng-show="!loaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <md-list ng-show="loaded">
        <md-list-item> <p> Name: {{member.name}} </p></md-list-item>
        <md-list-item> <p> Gender: {{member.gender}} </p></md-list-item>
        <md-list-item> <p> Job: {{member.job}} </p></md-list-item>
        <md-list-item> <p> Skills:</p></md-list-item>
        <md-list-item>
          <div ng-show="loaded" class="padding" layout="row" layout-align="start start">

              <md-list>
                <form name="memberSkills" ng-submit="!memberSkills.$valid || save()">
                  <md-list-item ng-repeat="(name, skill)  in skills">
                      <div class="md-inline-form">
                        <md-input-container>
                          <label>{{ name }}</label>
                          <input name="{{name}}" ng-model="skill" min="0" type="number" step="1"/>
                        </md-input-container>
                        <md-button class="md-warn" ng-click="remove(name)">Remove</md-button>
                      </div>
                  </md-list-item>

                  <md-list-item>
                    <md-button class="md-raised" ng-click="undo()" ng-disabled="memberSkills.$pristine">Undo</md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="memberSkills.$pristine">Save</md-button>
                  </md-list-item>
                </form>
                
                <md-list-item>
                  <form name="addSkills" ng-submit="add(name, skill)" class="md-inline-form">
                    <md-input-container>
                      <label>New skill name</label>
                      <input name="newName" ng-model="name" type="text"/>
                    </md-input-container>

                    <md-input-container>
                      <label>New skill value</label>
                      <input name="newSkill" ng-model="skill" min="0" type="number" step="1"/>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-primary" ng-disabled="!skill || !name">Add Skill</md-button>
                  </form>
                </md-list-item>

              </md-list>
          </div>

        </md-list-item>
      </md-list>


    </md-card-content>
</md-card>
