<md-card ng-controller="departmentController">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">The information about the department</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content >
      <div layout="row" layout-align="center center" ng-show="!loaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-show="loaded" >

        <span class="md-title"> {{ department.name }}</span>
        <h5>{{ department.description }}</h5>

        <div layout="row">
          <div flex>
            <span class="md-title">The information about the team leader</span>
            <md-list>
              <md-list-item> <p> Name: {{department.teamLeader.name}} </p></md-list-item>
              <md-list-item> <p> Gender: {{department.teamLeader.gender}} </p></md-list-item>
              <md-list-item> <p> Job: {{department.teamLeader.job}} </p></md-list-item>
              <md-list-item> <p> Description: {{department.teamLeader.description}} </p></md-list-item>
              <md-list-item>
                <p> Skills: <span class="comma" ng-repeat="(name, skill)  in department.teamLeader.skills">{{name}}:{{skill}}<span></p>
              </md-list-item>
            <md-list>
          </div>

          <div flex>
            <span class="md-title">Department members</span>
            <md-list>
              <md-list-item ng-repeat="member in members" ng-click="seeMemberDetails(member.id)">
                <p>{{member.name}}</p>
              </md-list-item>
            <md-list>
          </div>
        </div>


        <form name="newMember" ng-submit="addMember()">
          <md-input-container>
            <label>Name</label>
            <input name="name" ng-model="new.name" type="text"/>
          </md-input-container>

          <md-input-container>
            <label>Gender</label>
            <md-radio-group ng-model="new.gender">
              <md-radio-button value="M">M</md-radio-button>
              <md-radio-button value="F">F</md-radio-button>
            </md-radio-group>
          </md-input-container>

          <md-input-container>
            <label>job</label>
            <input name="job" ng-model="new.job" type="text"/>
          </md-input-container>

          <md-input-container>
            <label>Description</label>
            <input name="description" ng-model="new.description" type="text"/>
          </md-input-container>

          <md-button type="submit" class="md-raised md-primary">Add member</md-button>
        </form>

        <add-skills skills="new.skills"></add-skills>

      </div>




    </md-card-content>
</md-card>
